<div class="container row w-75 mx-auto my-5">
    <h2 class="text-center">{{product.name}}</h2>
    <div class="mx-auto my-3 w-50 ">
        <img class="img-fluid" src="../../assets/istockphoto-1219737366-612x612.jpg" class="img-fluid"
            alt="Responsive image">
    </div>
    <p class="w-75 mx-auto">{{product.description}}
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem possimus, explicabo harum, amet
        dolorum
        sed earum et
        obcaecati fuga aperiam asperiores facilis hic! Ea hic nemo ducimus quibusdam? Quis ab sunt quisquam pariatur
        facere ut soluta illum, iusto officia, explicabo, dolor consequuntur ipsam libero eveniet reprehenderit autem
        maiores reiciendis accusantium ex. Aliquam perferendis corrupti culpa, ratione aliquid assumenda unde rerum,
        nesciunt id laudantium perspiciatis excepturi cumque. Cupiditate cumque magnam voluptas.</p>
</div>