<div class="container-fluid">
  <form [formGroup]="userRegister">

    <h3>Please provide your email addresses</h3>

    <div class="form-group">
      <label>Email:</label>
      <input [class.is-invalid]="userRegister.get('email') && userRegister.get('email')" type="email"
        class="form-control" formControlName="email" />
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input [class.is-invalid]="userRegister.get('password') && userRegister.get('password')" type="password"
        class="form-control" formControlName="password" />
    </div>
    <div class="form-group">
      <label>Name:</label>
      <input [class.is-invalid]="userRegister.get('name') && userRegister.get('name')" type="text"
        class="form-control" formControlName="name" />
    </div>
    <!-- <div class="form-group">
      <label>Surname:</label>
      <input [class.is-invalid]="userRegister.get('surname') && userRegister.get('surname')" type="text"
        class="form-control" formControlName="surname" />
    </div>

    <div class="form-group">
      <label>Phone Number:</label>
      <input [class.is-invalid]="userRegister.get('phoneNumber') && userRegister.get('phoneNumber')" type='text' mask='(000) 000-00-00' prefix="+90"
      class="form-control" formControlName="phoneNumber" />
    </div> -->

    <div>
      <button type="button" (click)="onRegister()">Register</button>
    </div>
  </form>

</div>
<router-outlet></router-outlet>